<!DOCTYPE html>
<html>
<head>
    <title>Music Recommender</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="
      sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/exp.css">
    <script type="text/javascript" src="/js/lib/howler.core.js"></script>
    <script type="text/javascript" src="/js/lib/siriwave.js"></script>
    <script type="text/javascript" src="/js/lib/easytimer.min.js"></script>
    <script type="text/javascript" src="/js/lib/mmturkey.js"></script>
</head>
<body>
<div id="tmcn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Terms and Conditions
                </h2>
            </div>
        </div>
            <p>
                We allow one HIT per person, if you have recently completed a similar HIT please do not accept 
                this one as you will not be paid for completing it again. By taking part in this experiment, you are 
                participating in a study being performed by researchers in the Department of Mathmematics & Computer Science at 
                Rutgers University. If you have questions about this research, please contact us at cocoscishafto@gmail.com. 
                You must be at least 18 years old to participate. Your participation in this research is voluntary.
                You may decline further participation, at any time, without adverse consequences. Your anonymity is assured; 
                the researchers who have requested your participation will not receive any personal information about you. 
                Please click Continue after you have read the instructions and are ready to begin the HIT.
            </p>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" value="check" id="agree" />
            <label class="form-check-label" for="agree">
                Please tick the box and continue to the visit the next page. 
            </label>
            <div>
                  <span id="cte">
                    <a class="btn btn-primary disabled">Continue</a>
                  </span>
            </div>
        </div>
    </div>
</div>

<div id="mainInfo" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Music Recommendation
                </h2>
            </div>
        </div>
        <h4>
            Instructions.
        </h4>
        <ul>
            <li>
                The experiment has two sessions.
            </li>
            <li>
                In both sessions you will be presented with songs.
            </li>
            <li>
                Hit Play button to start listening to songs.
                Tell us whether you like the song or not by clicking Like or Dislike button.
                Then you can hit Play button to play the next song.
            </li>
            <li>
                In each session, you are required to listen to songs for<span id = "ssnTime"></span>min (excludes the time in between songs)
            </li>
        </ul>
        <div>
            <a class="btn btn-primary btn-md" id="stExp">
                Start the Experiment.
            </a>
        </div>
    </div>
</div>
<div id='expcls' style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Thank you for completing both the sessions. Please click the submit button to complete the experiment.</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12">
                <h3>Comments(Optional):</h3>
                <textarea class="form-control float-center" id="ta" name="feedbackText" cols="12" rows="3"></textarea>
                <button type="submit" class="btn btn-primary btn-lg" id="feedbackSbmt" style="margin-top:5px">Submit</button>
                <span id="statusCntr"></span>
            </div>
        </div>
    </div>
</div>
<div id='snalert' style="display: none; position:  absolute; top: 15%; margin: 5%;" class="col-lg-12">
    <h3>Session 1 completed.</h3>
    <a class="btn btn-primary btn-md" id="snst">
        Start the Session 2.
    </a>
</div>
<div id="expmnt" style="display: none;">
    <div id="countDown">
        SESSION<span id="cdTitle"></span>TIMER<span id='cdTime'></span>
    </div>
    <!--Top Info -->
    <div class="playr">
        <div id="timer">0:00</div>
        <div id="duration">0:00</div>
    </div>
    <div id="choice">
        <span>Music Feedback</span>
    </div>
    <div id="loading"></div>
    <div class="controlsOuter playr">
        <div class="controlsInner">
            <div class="button" id="playBtn"></div>
            <div class="button" id="pauseBtn"></div>
        </div>
        <div class="button" id="volumeBtn"></div>
    </div>
    <div class="choice">
        <div id="likeBtn">
            <!--<svg class="svg-inline--fa fa-thumbs-up fa-w-16 fa-2x" aria-hidden="true" -->
            <!--data-prefix="far" data-icon="thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" -->
            <!--viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M466.27 286.69C475.04 -->
            <!--271.84 480 256 480 236.85c0-44.015-37.218-85.58-85.82-85.58H357.7c4.92-12.81 8.85-28.13 -->
            <!--8.85-46.54C366.55 31.936 328.86 0 271.28 0c-61.607 0-58.093 94.933-71.76 108.6-22.747 -->
            <!--22.747-49.615 66.447-68.76 83.4H32c-17.673 0-32 14.327-32 32v240c0 17.673 14.327 32 32 -->
            <!--32h64c14.893 0 27.408-10.174 30.978-23.95 44.509 1.001 75.06 39.94 177.802 39.94 7.22 0 -->
            <!--15.22.01 22.22.01 77.117 0 111.986-39.423 112.94-95.33 13.319-18.425 20.299-43.122 -->
            <!--17.34-66.99 9.854-18.452 13.664-40.343 8.99-62.99zm-61.75 53.83c12.56 21.13 1.26 -->
            <!--49.41-13.94 57.57 7.7 48.78-17.608 65.9-53.12 65.9h-37.82c-71.639 -->
            <!--0-118.029-37.82-171.64-37.82V240h10.92c28.36 0 67.98-70.89 94.54-97.46 28.36-28.36 -->
            <!--18.91-75.63 37.82-94.54 47.27 0 47.27 32.98 47.27 56.73 0 39.17-28.36 56.72-28.36 -->
            <!--94.54h103.99c21.11 0 37.73 18.91 37.82 37.82.09 18.9-12.82 37.81-22.27 37.81 -->
            <!--13.489 14.555 16.371 45.236-5.21 65.62zM88 432c0 13.255-10.745 24-24 24s-24-10.745-24-24 -->
            <!--10.745-24 24-24 24 10.745 24 24z"></path></svg>-->
            <i class="far fa-thumbs-up fa-7x button"></i>

        </div>
        <div id="disLikeBtn">
            <!--<svg class="svg-inline--fa fa-thumbs-down fa-w-16 fa-2x" aria-hidden="true" -->
            <!--data-prefix="far" data-icon="thumbs-down" role="img" xmlns="http://www.w3.org/2000/svg" -->
            <!--viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M466.27 225.31c4.674-22.647.864-44.538-8.99-62.99 -->
            <!--2.958-23.868-4.021-48.565-17.34-66.99C438.986 39.423 404.117 0 327 0c-7 0-15 .01-22.22.01C201.195.01 168.997 -->
            <!--40 128 40h-10.845c-5.64-4.975-13.042-8-21.155-8H32C14.327 32 0 46.327 0 64v240c0 17.673 14.327 32 32 -->
            <!--32h64c11.842 0 22.175-6.438 27.708-16h7.052c19.146 16.953 46.013 60.653 68.76 83.4 13.667 13.667 10.153 108.6 -->
            <!--71.76 108.6 57.58 0 95.27-31.936 95.27-104.73 0-18.41-3.93-33.73-8.85-46.54h36.48c48.602 0 85.82-41.565 -->
            <!--85.82-85.58 0-19.15-4.96-34.99-13.73-49.84zM64 296c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 -->
            <!--24-10.745 24-24 24zm330.18 16.73H290.19c0 37.82 28.36 55.37 28.36 94.54 0 23.75 0 56.73-47.27 -->
            <!--56.73-18.91-18.91-9.46-66.18-37.82-94.54C206.9 342.89 167.28 272 138.92 272H128V85.83c53.611 0 -->
            <!--100.001-37.82 171.64-37.82h37.82c35.512 0 60.82 17.12 53.12 65.9 15.2 8.16 26.5 36.44 13.94 57.57 21.581 20.384 -->
            <!--18.699 51.065 5.21 65.62 9.45 0 22.36 18.91 22.27 37.81-.09 18.91-16.71 37.82-37.82 37.82z"></path></svg>-->
            <i class="far fa-thumbs-down fa-7x button"></i>
        </div>
    </div>

    <!-- Progress -->
    <div id="waveform" class="playr"></div>
    <div id="bar" class="playr"></div>
    <div id="progress" class="playr"></div>

    <!-- Volume -->
    <div id="volume" class="fadeout">
        <div id="barFull" class="bar"></div>
        <div id="barEmpty" class="bar"></div>
        <div id="sliderBtn"></div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/exp.js"></script>
</body>
</html>
